<div class="container w-100">
  <div class="row">
    <!-- First Half -->
    <div class="col-md-5 mt-3">
      <div class="d-flex justify-content-center">
        <button class="btn btn-md btn-success mx-2" (click)="startRecording()" [disabled]="isRecording"><i
            class="bi bi-play icon-large"></i></button>
        <button class="btn btn-md btn-success mx-2" (click)="stopRecording()" [disabled]="!isRecording"><i
            class="bi bi-pause icon-large"></i></button>
        <button class="btn btn-md btn-success mx-2" (click)="resetTranscript()"><i
            class="bi bi-arrow-repeat icon-large"></i></button>
      </div> 


      <hr>



      <div class="form-group">
        <label for="speech" class="neon-glow"><b>Speech by User</b></label>
        <textarea id="speech" class="form-control neon-border inputText command-prompt" readonly>{{speech}}</textarea>
      </div>

      <div class="form-group">
        <label for="voice" class="neon-glow"><b>Recorded Voice</b></label>
        <textarea id="voice" class="form-control neon-border inputText command-prompt" readonly>{{voice}}</textarea>
      </div>
  </div>

  <!-- Second Half -->

  <div class="col-md-7 mt-2">
    <!-- <div class="col-md-8 col-sm-12"> -->
    <div class="form-group">
      <label for="geminiResponse" class="neon-glow"><b>Response</b></label>
      <textarea id="geminiResponse" class="form-control neon-border command-prompt" style="height: 484px; color: aliceblue;">{{geminiResponse}}</textarea>
    </div>
    <!-- </div> -->
  </div>

  <div class="row col-md-12 justify-content-end">
    <ul class="list-inline">
      <li class="list-inline-item">
        <span class="list-indicator">&#8226; </span> <span class="key">A</span> - Start
      </li>
      <li class="list-inline-item">
        <span class="list-indicator">&#8226; </span> <span class="key">S</span> - Stop
      </li>
      <li class="list-inline-item">
        <span class="list-indicator">&#8226; </span> <span class="key">D</span> - Refresh
      </li>
    </ul>
  </div>


</div>